body, html {
    font-family: Arial, 'Montserrat', sans-serif;
}

.bg-1 {
    background-color: #8d99ae;
}

.navbar {
    background-color: #03045e;
}

.mr-auto {
    margin: .8rem;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

#services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #8d99ae;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-about {
    padding: 30px 0;
}

#contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #8d99ae;
}
footer {
    padding: 10px 0;
}

.bg {
    background-image: url(/Users/diegocamara/first-project/images/top.jpg)
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

