:root {
  --blue-1: #007cba;
  --blue-2: #006ba1;
  --blue-3: #1f6096;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: CircularStd,sans-serif;
  font-size: 17px;
  color: #8493ac;
  background-color: white;
}
/*base elements*/

header{
  border-bottom: 1px solid #eee;
  background-color: #fff!important;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container .logo{
  margin: 5px;
}

header nav a{
  text-decoration: none;
  color: var(--blue-3)!important;
}

header nav a:hover{
  color: var(--blue-1)!important;
  text-decoration: none;
}
/*header elements*/

.main{
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/images/top.png');
  height: 550px;
  background-size: cover;
  display: flex; /*aling the elements*/
  flex-direction: column;
  justify-content: center;
  color: white;
}

.title{
  font-size: 40px;
}

.main .description{
  margin-bottom: 40px;
  font-size: 20px;
}

.button{
  border: none!important;
  padding: 10px 30px!important;
  margin-right: 15px!important;
  cursor: pointer!important;
  transition: .3s ease all!important;
}

.button i{
  margin-right: 8px;
}

/*about elements*/

#about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  margin: 50px 0px;
}

#about .container .title{
  margin-bottom: 30px;
}


