/*base elements*/

:root {
  --blue-1: #007cba;
  --blue-2: #006ba1;
  --blue-3: #1f6096;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body{
  font-family: CircularStd,sans-serif;
  font-size: 17px;
  color: #8493ac;
  background-color: white;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600!important;
  margin-bottom: 30px!important;
}

/*header elements*/

header{
  border-bottom: 1px solid #eee;
  background-color: #fff!important;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container .logo{
  margin: 5px;
}

.navbar{
  margin-right: 0px;
  font-weight: 600;
}

header nav a{
  text-decoration: none;
  color: var(--blue-3)!important;
  cursor: pointer!important;
  transition: .3s ease all!important;
}

header nav a:hover{
  color: black!important;
  text-decoration: none;
}

/*main elements*/

main .container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; 
}

main .container .title{
  font-size: 55px!important;
  letter-spacing: -1.96px!important;
}

main .description{
  margin-bottom: 40px;
  font-size: 25px;
}

.button{
  border: none!important;
  padding: 10px 30px!important;
  margin-right: 15px!important;
  cursor: pointer!important;
  transition: .3s ease all!important;
}

.button i{
  margin-right: 10px;
}

main img{
  height: 100%;
  width: 100%;
}

.top-text{
  margin-top: 50px;
}

/*services elements*/

#services{
  padding: 70px 0px 100px 0px;
  background-color: #f9fafc;
}

#services .container p{
  margin-bottom: 50px;
}

.card-header{
  margin: 0px;
}

/*about elements*/

#about .container{ 
  margin: auto;
  padding: 70px 0px 100px 0px;
}

#about .container .title{
  margin-bottom: 30px;
}

#about img{
  border-radius: 50%;
}

/*contact elements*/

#contact{
  padding: 70px 0px 100px 0px;
  background-color: #f9fafc;
}

#contact .container{
  display: block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#contact i{
  width: 20px;
  height: 50px;
  cursor: pointer!important;
  transition: .1s ease all!important;
}

#contact a{
  text-decoration: none;
  cursor: pointer!important;
  transition: .3s ease all!important;
}

#contact a:hover{
  color: black;
  cursor: pointer!important;
  transition: .3s ease all!important;
}

#contact .container form{
  background-color: #fff;
  padding: 10px;
  border-radius: 5%;
}

#contact .container form button{
  padding: 8px 30px 8px 30px;
}

#contact .container form{
  width: 60%;
}

/*footer elements*/

footer{
  padding: 50px 0px 50px 0px;
}

footer .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer a{
  margin-right: 0px;
}

footer p{
  text-align: center;
}